/*导航条默认高度是50px,保证导航条固定不动，且下面的字体没有被遮挡*/
body{
    padding-top: 50px;
    padding-bottom: 50px;
}
/*轮播图*/
/*限制高度*/
.carousel{
    height: 500px;
    background-color: #000000;
    /*底部间距*/
    margin-bottom: 60px;

}
.carousel .item{
    height: 500px;
    background-color: #000000;
}
/*图片填满*/
.carousel img{
   width: 100%;
}
/*字体大小和间距*/
.carousel-capton p{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
}
#summary-container .col-md-4{
    text-align: center;

}
.divider{
    margin: 40px 0;
}
/*标签页*/
.feature-image1{
   width: 60%;
}
.tab-pane{
    margin: 30px 0;
}
.header-text{
    margin: 120px 0;
}
.feature-heading{
    font-size: 40px;
    color: #1b6d85;
}
.text-muted{
    font-size: 25px;
}
.lead{
    font-size: 18px;
}


